form button {
    background-color: #762660;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 0.5rem 0;
}

form label {
    font-weight: bold;
}